.job_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  background: #fff;
  overflow-x: hidden;
}

.cards,
.mySwiper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mySwiper {
  max-width: 1240px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: var(--secondary-color) !important;
}

.explore_btn {
  display: flex;
  width: 215px;
  height: 54px;
  padding: 26px 25px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #002570;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 0.98rem;
  margin-top: 1.6rem;
}
.swiper_card {
  max-width: 400px;
  height: 300px;
}

@media screen and (max-width: 1000px) {
  .explore_btn {
    width: 180px;
    height: 50px;
    padding: 26px 25px;
    gap: 8px;
    border-radius: 8px;
    font-size: 0.98rem;
    margin-top: 1.6rem;
  }
}
@media screen and (max-width: 550px) {
  .explore_btn {
    width: 150px;
    height: 38px;
    padding: 26px 25px;
    gap: 8px;
    border-radius: 6px;
    font-size: 0.98rem;
    margin-top: 1.6rem;
  }
}
