.blogSection {
  display: flex;
  max-width: 1435px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  flex-wrap: wrap;
  padding: 2rem 3rem;
  margin: auto;
  scroll-behavior: smooth;
  margin-bottom: 6rem;
}
@media screen and (max-width: 1431px) {
  .blogSection {
    gap: 5rem;
  }
}
