.card_section {
  display: flex;
  padding: 40px 129px 40px 129px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #fff;
  gap: 40px;
  margin: 4.4rem auto;
  flex-wrap: wrap;
  scroll-behavior: smooth;
}
@media (max-width: 898px) {
  .card_section {
    flex-wrap: wrap;
    padding: 30px 20px 30px 20px !important;
  }
}

@media (max-width: 480px) {
  .card_section {
    flex-direction: column;
    align-items: center;
  }
}
