@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

footer {
  padding: 3rem 5.1rem;
  background-color: #fff9f6;
  max-width: 100vw;
  font-family: "Poppins", sans-serif;
  height: auto;
  /* margin-top: 3.6rem; */
}
.footer_row {
  padding: 2rem 0.76rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.footer_row .col-4 {
  flex-basis: 13%;
  min-width: 180px;
}
.footer_row .col-4:first-child {
  min-width: 300px;
}
.footer_row .col-4:first-child img {
  width: 53%;
  margin-bottom: 1.18rem;
}
.footer_row .col-4 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Poppins;
}
.footer_row .col-4:first-child .icons img {
  max-width: 1.5rem;
  margin-top: 2rem;
  margin-right: 0.7rem;
  transition: 0.5s ease all;
  cursor: pointer;
}
.footer_row .col-4:first-child .icons img:hover {
  transform: translateY(-5px);
}

.footer_row .col-4 h2 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.05em;
  font-family: Poppins;
  text-align: left;
  margin-bottom: 1.4rem;
}
.footer_row .col-4 a {
  font-family: Poppins;
  font-size: 16px;
  color: #0e0e0e;
  display: block;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.7rem;
  transition: 0.4s ease-in-out all;
}

.footer_row .col-4 a:hover {
  transform: translateX(5px);
}
.link_gray {
  filter: grayscale(1);
}
.closing_foot hr {
  color: #0e0e0e;
  height: 2px;
}
.closing_foot p {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 2rem;
}

@media screen and (max-width: 1420px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

  footer {
    padding: 3rem 4rem;
    background-color: #fff9f6;
    max-width: 100vw;
    font-family: "Poppins", sans-serif;
    height: auto;
    margin-top: 3.6rem;
  }
  .footer_row {
    padding: 2rem 0.56rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer_row .col-4 {
    flex-basis: 13%;
    min-width: 160px;
  }
  .footer_row .col-4:first-child {
    min-width: 280px;
  }
}

@media screen and (max-width: 1215px) {
  footer {
    padding: 3rem 3rem;
    background-color: #fff9f6;
    max-width: 100vw;
    font-family: "Poppins", sans-serif;
    height: auto;
    margin-top: 3.6rem;
  }
  .footer_row {
    padding: 2rem 0.56rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer_row .col-4 {
    flex-basis: 13%;
    min-width: 140px;
  }
  .footer_row .col-4:first-child {
    min-width: 280px;
  }
}
@media screen and (max-width: 1082px) {
  footer {
    padding: 3rem 1.4rem;
    background-color: #fff9f6;
    max-width: 100vw;
    font-family: "Poppins", sans-serif;
    height: auto;
    margin-top: 3.6rem;
  }
  .footer_row {
    padding: 2rem 0.56rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.2rem;
    row-gap: 5rem;
  }
  .footer_row .col-4 {
    flex-basis: 13%;
    min-width: 107px;
  }
  .footer_row .col-4:first-child {
    min-width: 280px;
  }
}
@media screen and (max-width: 940px) {
  footer {
    padding: 3rem 1.4rem;
    background-color: #fff9f6;
    max-width: 100vw;
    font-family: "Poppins", sans-serif;
    height: auto;
    margin-top: 3.6rem;
  }
  .footer_row {
    padding: 2rem 0.56rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.2rem;
    row-gap: 5rem;
  }
  .footer_row .col-4 {
    flex-basis: 20%;
    min-width: 107px;
  }
  .footer_row .col-4:first-child {
    min-width: 280px;
  }
}

@media screen and (max-width: 485px) {
  .footer_row .col-4:first-child {
    text-align: center;
  }
  .footer_row .col-4:first-child img {
    text-align: center;
    margin-right: 2.2rem;
  }
}
