* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --primary-color: #212725;
  --secondary-color: #002570;
  --light-text: #4c4b4b;
}
.d_flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}
a {
  text-decoration: none;
}

.top {
  position: relative;
}

.top::after {
  content: "";
  background: var(--secondary-color);
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.top_heading {
  position: relative;
}
.top_heading::after {
  content: "";
  background: #fff;
  width: 200px;
  height: 2px;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.mod_top {
  position: relative;
}

.mod_top::after {
  content: "";
  background: var(--secondary-color);
  width: 40px !important;
  height: 4px !important;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 700px) {
  .top_heading::after {
    content: "";
    background: #fff;
    width: 100px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
}
